* {
    box-sizing: border-box
}

nav {
    content: "";
    clear: both;
    display: block
}

html {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600
}

a {
    text-decoration: none;
    text-transform: uppercase
}

[class*="col-"] {
    width: 100%;
    float: left
}

@media only screen and (max-width: 600px) {
    form {
        margin: 0 5% 7%
    }
    #me {
        margin: 8% auto 0;
        display: block;
        width: 100%;
        max-width: 35%;
        min-width: 150px
    }
    #descp {
        padding: 4% 15% 10%
    }
    .greet {
        position: absolute;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 1.6em;
        width: 100%;
        margin: 7% 0
    }
    #icons {
        margin: 0;
        width: 100%
    }
    #icons ul {
        list-style-type: none;
        display: inline-block;
        margin: 0 auto;
        padding: 0 0 0 4.4%
    }
    #icons li {
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        display: block;
        float: left;
        margin: 0 2%;
        width: 100%;
        max-width: 15%
    }
    #icons img {
        width: 100%
    }
    .menu li {
        display: inline;
        float: left;
        margin: 0 14px 0 0
    }
    .menu h1 {
        font-weight: 700;
        font-size: 2.3613vw;
        margin: 0;
        float: left;
        display: inline
    }
    .menu {
        position: relative;
        z-index: 1;
        box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.36);
        padding: 2% .1% 2% 10%;
        min-width: 50%;
        max-height: 99px
    }
    .social {
        text-align: center;
        padding: 0;
        width: 100%;
        font-size: 1.2em;
        margin: 4% 0 3% 0%
    }
    .pink {
        background: pink;
        font-size: 1em;
        padding: 3% 14% 0;
        text-transform: uppercase;
        line-height: 1
    }
    .archive1 {
        font-size: 1.2em
    }
    .archive {
        margin: 40px 0 0 0
    }
    .projdescp p {
        margin: 4% 14%
    }
    .projdescp img {
        width: 100%;
        margin: 0 40px 40px 0
    }
    .projdescp a {
        color: #b4e9ed
    }
}

@media only screen and (min-width: 600px) {
    .col-1 {
        width: 8.33%
    }
    .col-2 {
        width: 16.66%
    }
    .col-3 {
        width: 25%
    }
    .col-4 {
        width: 33.33%
    }
    .col-5 {
        width: 41.66%
    }
    .col-6 {
        width: 50%
    }
    .col-7 {
        width: 58.33%
    }
    .col-8 {
        width: 66.66%
    }
    .col-9 {
        width: 75%
    }
    .col-10 {
        width: 83.33%
    }
    .col-11 {
        width: 91.66%
    }
    .col-12 {
        width: 100%
    }
    form {
        margin: 0 25.2% 7%
    }
    #me {
        margin: 25% 30%;
        width: 100%;
        max-width: 55%;
        min-width: 150px;
        display: block
    }
    #descp {
        padding: 7.2% 18% 2% 3%
    }
    .greet {
        position: absolute;
        text-align: center;
        color: white;
        font-weight: 600;
        font-size: 2.2em;
        width: 100%;
        margin: 40px 0
    }
    #icons {
        margin: 0 auto;
        width: 100%
    }
    #icons ul {
        list-style-type: none;
        display: inline-block;
        margin: 0 auto;
		width: 100%;
        padding: 0 0 0 22.5%
    }
    #icons li {
        display: inline;
        float: left;
        margin: 0 2%;
        width: 100%;
        max-width: 10%;
        min-width: 50px
    }
    #icons img {
        width: 100%
    }
    .menu li {
        display: inline;
        float: left;
        margin: 0 0px 0 40px
    }
    .menu h1 {
        font-weight: 700;
        font-size: 1.3vw;
        margin: 0
    }
    
    .menu {
        position: relative;
        z-index: 1;
        box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.36);
        padding: 2% .1% 2% 12%;
        min-width: 50%;
        max-height: 99px
    }
    .social {
        text-align: center;
        padding: 0;
        width: 100%;
        font-size: 1.7em;
        margin: 4% 0 3% 0
    }
    .pink {
        background: pink;
        font-size: 1.2em;
        padding: 5% 3% 0;
        text-transform: uppercase
    }
    .pinkfix {
        position: fixed;
        background: pink;
        bottom: 0;
        padding: 5% 3% 0;
        left: 0;
        z-index: -3
    }
    .archive {
        margin: 200px 0 0 0
    }
    .archive1 {
        font-size: 1.4em
    }
    .projdescp p {
        margin: 8% 120px 4% 4%
    }
    .projdescp img {
        width: 400px;
        margin: 0 40px 40px 0;
        float: left
    }
}

::-moz-selection {
    color: #fff;
    background: #b4e9ed
}

::selection {
    color: #fff;
    background: #b4e9ed
}

a:link,
a:visited {
    color: #404040
}

a:hover,
a:active {
    color: #212121
}

.logo img {
    position: absolute;
    z-index: 2;
    margin: 0 0 0 8%;
    width: 5.5%;
    max-width: 10%;
    min-width: 5.5%
}

.logo2 img {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 8% 0 0;
    z-index: 2;
    width: 5.5%;
    max-width: 7%;
    min-width: 3.5%
}

.menu ul {
    list-style-type: none;
    margin: 0
}

.menu a {
    display: block
}

#mainphoto {
    position: relative;
    z-index: -2;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.36)
}

#mainphoto img {
    width: 100%;
    display: block
}

.greet,
.greet a,
.greet a:link,
.greet a:visited,
.greet a:hover,
.greet a:active {
    color: white;
    text-transform: uppercase
}

input,
textarea {
    font-size: 1em;
    border: 1px solid #ddd;
    background: #fff;
    padding: .9em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
    margin: .4em 0
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical
}

button,
a.button {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid #b4e9ed;
    color: #b4e9ed;
    background: transparent;
    line-height: 1em;
    padding: .6em .9em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin: .4em 0 0 0
}

#nanoGallery1 {
    margin: 1% 17.5% 10% 17.5%;
    width: 65%;
    height: auto
}

.projdescp a {
    color: #b4e9ed
}

.pink a {
    color: #000
}

.social a {
    text-transform: none
}

.actmenu a {
        color: #ff869b;
}