 html {
     font-family: 'Roboto Slab', serif;
     font-size: 35px;
     color: #0b0b0b;
 }

 h1 {
     font-size: 35px;
 }

 #intro {
     width: 400px;
     height: 600px;
     position: absolute;
     top: 50%;
     left: 50%;
     margin-left: -200px;
     margin-top: -300px;
 }

 .siteNav {
     text-align: center;
     position: absolute;
     left: 50%;
     top: 53%;
     width: 800px;
     margin-left: -400px;
 }

 .siteNav-social {
     opacity: 0;
     list-style: none;
     margin: 1rem auto;
     padding: 0
 }

 .siteNav-social > li {
     display: inline-block;
     margin: 0 .5rem
 }

 .fa {
     font-size: 60px;
     color: #000;
 }

 @media screen and (max-width: 802px) {
     h1 {
         font-size: 30px;
     }
     #intro {
         width: auto;
         height: auto;
         top: 0;
         left: 0;
         margin-left: 10%;
         margin-right: 10%;
         margin-top: 20%;
     }
     .siteNav {
         text-align: center;
         left: 0;
         top: 350px;
         width: 100%;
         margin-left: 0;
     }
     .siteNav-social > li {
         margin: 0 .5rem .7rem;
     }
     .fa {
         font-size: 50px;
     }
 }

 @media screen and (max-width: 450px) {

     .siteNav {
         top: 370px;
     }
     .fa {
         font-size: 40px;
     }
 }


.temp, .temp a {
    -webkit-animation: color_change 2s infinite alternate;
    -moz-animation: color_change 2s infinite alternate;
    -ms-animation: color_change 2s infinite alternate;
    -o-animation: color_change 2s infinite alternate;
    animation: color_change 2s infinite alternate;
    text-decoration: none;
}

.temp {
    margin: 2% 0 0 3%;
}



@-webkit-keyframes color_change {
    from { color: #58c2fa; }
    to { color: #2f9a2f; }
}
@-moz-keyframes color_change {
    from { color: #58c2fa; }
    to { color: #2f9a2f; }
}
@-ms-keyframes color_change {
    from { color: #58c2fa; }
    to { color: #2f9a2f; }
}
@-o-keyframes color_change {
    from { color: #58c2fa; }
    to { color: #2f9a2f; }
}
@keyframes color_change {
    from { color: #58c2fa; }
    to { color: #2f9a2f; }
}
